@import url(https://fonts.googleapis.com/css?family=Courgette);

  body {
  	display: flex;
  	min-height: 100vh;
  	flex-direction: column;
  }

  main {
  	flex: 1 0 auto;
  }
  @media screen and (min-width: 769px){

  	.nav-wrapper ul.center {
  		display: block;
  		width: auto;
  	}

  	.nav-wrapper > ul.center li {
  		float: none;
  		display: inline-block;
  	}

  }

  #map-canvas {
  	width: 100%;
  	height: 400px;
  	margin: 0;
  }

  /*** menu ***/

  .navbar-inverse{
  	height: auto;
  	z-index: 998;
  }

  .navbar-inverse nav{
  	margin-top: 50px;
  	height: 100px;
  	background: #004d40;
  }

  .navbar-inverse nav .brand-logo{
  	margin-top: -25px;
  }

  .navbar-inverse nav ul a{
  	padding: 20px;
  	transition: all 300ms linear;
  }



  .navbar-inverse nav.pinned {
  	margin-top: 0px;
  	height: 60px;
  	background: #f5f5f5;
  	background: rgba(0,0,0,0.7);
  	transition: all 300ms linear;
  	border-bottom: 3px solid #fec107;
  }


  .navbar-inverse nav.pinned .brand-logo{
  	margin-top: 0px;
  }
  .navbar-inverse nav.pinned ul a{
  	padding: 0 15px;
  	transition: all 300ms;
  }


  /* OTHERS */
  .navbar-inverse nav ul li,
  .title-center {
    text-align: center
  }
  .bottom-line,
  .bottom-line span {
    display: inline-block;
    clear: both
  }
  .bottom-line span {
    position: relative;
    height: 2px;
    background: #fec107;
    width: 210px
  }
  .bottom-line em {
    position: absolute;
    top: 2px;
    width: 50px;
    height: 5px;
    background: #fec107;
    left: 0
  }
  .description {
    padding: 30px 0
  }
  .description p {
    margin-bottom: 30px
  }

  .title-center .bottom-line em {
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%)
  }

  .title-h4 {
    font-size: 55px;
    color: #000;
    margin-top: 0;
    margin-bottom: 35px
  }


  * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
  }
  body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    background: #f5f5f5;
    color: #747474
  }

  h5{
    color: #1c321d;
  }


/* Caliber Project.
 * Author- Srinivasan T
 * Start development - 24/08/15.
 * Script written using material css*/

 /*#preloader start here*/

 #preloader{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 99;
}

#preloader .preloader-wrapper{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -32px;
  margin-top: -32px;
}

.openLeft,
.openRight{
  position: fixed;
  top: 0px;
  width: 50%;
  height: 100%;
  background: #000;
}

.openLeft{
  left: 0px;
}

.openRight{
  right: 0px;
}

#depreload .loading,#depreload .perc{color:#fff;text-transform:uppercase;letter-spacing:1px}
#depreload{height:100%;width:100%;background-size:cover;position:fixed;text-align:center;z-index:99}
.table{display:table}.table-cell{display:table-cell}.wrapper{vertical-align:middle;opacity:0}
#depreload .circle{max-width:320px;max-height:320px;width:90%;height:90%;border:1px solid rgba(255,255,255,.5);border-radius:50%;box-shadow:0 0 1px 0 #fff;margin:0 auto;position:relative; z-index: 22;}
#depreload .line{margin:-20px;opacity:0}
#depreload .perc{font-size:4.3em;margin-top:30px;font-family:'Source Sans Pro',sans-serif;font-weight:300}
#depreload .loading{font-size:.8em;margin-top:110px;font-family:'Open Sans',sans-serif;font-weight:600}
#depreload .loading,#depreload .perc{position:absolute;width:100%}
#depreload .logo{position:absolute;left:50%;top:50%;width:90px;height:90px;margin-left:-45px;margin-top:-45px;opacity:0;line-height:87px;color:#fec107;font-size:32px}
.gallery{position:absolute;width:100%;height:100%;overflow:hidden}

#depreload .circle{
  background-image: url('../img/logo/kalibra-360.png');
  background-repeat: no-repeat;
  background-size: contain;
}
#depreload .logo{top:70%;}
.slides h3, .slides h5{
  font-family: 'Courgette',sans-serif;
  text-shadow: 1px 2px 3px #666;
}
.slides h5{
  font-size: 30px;
}
#slide-logo-inmetro::after{
  background-image: url('../img/logo/inmetro.png');
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}
.hidden{display: none;}
