#menu-partners{
    /*height: 39px;*/
    /*padding: 8px 0 7px;*/
    /*background: #f1efef;*/
    text-align: center;
    /*width: 1001px;*/
    /*margin: 0 auto;*/
}
    #menu-partners li{
        margin: 0 1.6%;
        height: 39px;
    }

    #menu-partners .toledo a{
        width: 100px;
        background: url(../img/partners/toledo.png);
    }
    #menu-partners .urano a{
        width: 100px;
        background: url(../img/partners/urano.png);
    }
    #menu-partners .filizola a{
        width: 100px;
        background: url(../img/partners/filizola.png);
    }
    #menu-partners .daruma a{
        width: 50px;
        background: url(../img/partners/daruma.png);
    }
    #menu-partners .honeywell a{
        width: 100px;
        background: url(../img/partners/honeywell.png);
    }
    #menu-partners .gertec a{
        width: 80px;
        background: url(../img/partners/gertec.png);
    }
    #menu-partners .elgin a{
        width: 70px;
        background: url(../img/partners/elgin.png);
    }
    #menu-partners .bematech a{
        width: 88px;
        background: url(../img/partners/bematech.png);
    }
    #menu-partners .argox a{
        width: 80px;
        background: url(../img/partners/argox.png);
    }
    #menu-partners .elo-touch a{
        width: 80px;
        background: url(../img/partners/elo-touch.png);
    }
    #menu-partners .motorola a{
        width: 110px;
        background: url(../img/partners/motorola.png);
    }
    #menu-partners .digitron a{
        width: 80px;
        background: url(../img/partners/digitron.png);
    }
    #menu-partners .triunfo a{
        width: 100px;
        background: url(../img/partners/triunfo.png);
    }
    #menu-partners .alfa-instrumentos a{
        width: 100px;
        background: url(../img/partners/alfa-instrumentos.png);
    }

    #menu-partners li a{
        display: block;
        height: 39px;
        background-repeat: no-repeat !important;
        background-position: center !important;
        background-size: contain !important;
        /* gray scale*/
        filter: gray; /* IE6-9 */
        filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
        -webkit-filter: grayscale(1);
        transition: all 1s;
    }
    #menu-partners li:hover a{
        filter: none;
        -webkit-filter: grayscale(0);
      /*  background-position: left bottom; */
    }
